@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

h1 {
    position: absolute;
    letter-spacing: 2px;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0 0 2px rgb(123, 177, 54);
}

.dots {
    position: absolute;
    display: flex;
    align-self: flex-end;
}

.dots span {
    width: 20px;
    height: 20px;
    margin: 20px;
    border-radius: 50%;
    border: 4px solid white;
    cursor: pointer;
}

.dots span:hover {
    box-shadow: 0 0 6px rgb(123, 177, 54);
}

.dots .active {
    background-color: rgb(123, 177, 54);
}